server:
  http_listen_port: 0
  grpc_listen_port: 0
positions:
  filename: /tmp/positions.yaml
clients:
  - url: http://loki:3100/loki/api/v1/push
scrape_configs:
  - job_name: unbound-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: unbound-logs
          host: unbound
          __path__: /var/log/unbound/unbound.log
